/Condicionales/nbproject/private/
/Condicionales/build/
/Temperaturas/nbproject/private/
/Temperatura/nbproject/private/
/Temperatura/build/
/OperadorTernario/nbproject/private/
/OperadorTernario/build/
/Numeros/nbproject/private/
/Numeros/build/
/OperadoresLogicos/nbproject/private/
/OperadoresLogicos/build/
/DiaMesAño/nbproject/private/
/DiaMesAño/build/
/AñoBisiesto/nbproject/private/
/AñoBisiesto/build/
